<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="SqlDbAid.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <SqlDbAid.Properties.Settings>
            <setting name="MwnServer" serializeAs="String">
                <value>(local)</value>
            </setting>
            <setting name="MwnUsername" serializeAs="String">
                <value/>
            </setting>
            <setting name="MwnAuthenticationMode" serializeAs="String">
                <value>Windows Authentication</value>
            </setting>
            <setting name="ScrAddDropCommand" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="ScrSingleFileExport" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrIncludeIndexes" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScrHideSystemDbs" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="QrsExecutionTimeout" serializeAs="String">
                <value>120</value>
            </setting>
            <setting name="QrsConnectionTimeout" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="QrsOpenTopRows" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="QrsOpenWithNoLock" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TlsHideAppQueries" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="TlsTopQueriesWithin" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="TlsGetLockedObjectName" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="SrvServers" serializeAs="String">
                <value/>
            </setting>
        </SqlDbAid.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
